<script lang="ts">
export default {
  data() {
    return {
        count: 0,
      message: 'Hello World!'
    }
  },

  methods: {
    async getUsers() {
        const response = await fetch('http://127.0.0.1:5000/users/hello/5');
        const data = await response.json();
        console.log(data);
    }
  }
}

</script>

<template>
    <nav class="top-navbar">
        <ul class="top-navbar-item">
            <button @click="getUsers">
                {{ count }}
            </button>
        </ul>
        <ul class="top-navbar-item">
            <a href="#/Home">
                <button>
                    Home
                </button>
            </a>
        </ul>
        <ul class="top-navbar-item">
            <a href="#/LogIn">
                <button>
                    Log In
                </button>
            </a>
        </ul>
        <ul class="top-navbar-item">
            <button @click="count++">
                {{message}}
            </button>
        </ul>
    </nav>
</template>

<style>
    .top-navbar {
        width: auto;
        background-color: aqua;
        border: #4CAF50;
    }
    
    .top-navbar-item {
        display: inline;
    }
    
    button{
        width: auto;
        margin: 5px;
        background-color: grey;
        transition-duration: 400ms;
    }

    button:hover{
        background-color: #4CAF50; /* Green */
        color: white;
    }
</style>