<script lang="ts">
import Home from './Home/Home.vue';
import Navbar from './core/Navbar.vue';
import NotFound from './NotFound.vue';
import LogIn from '../views/LogIn.vue';

const routes = {
  '/': Home,
  '/LogIn': LogIn,
}

export default {
    data() {
        return {
            currentPath: window.location.hash
        };
    },
    computed: {
        currentView() {
            console.log(this.currentPath.slice(1));
            return routes["/" || this.currentPath.slice(1)] || NotFound;
        }
    },
    mounted() {
        window.addEventListener("hashchange", () => {
            this.currentPath = window.location.hash;
        });
    },
    components: { Navbar }
}

</script>

<template>
    <Navbar/>
    <component :is="currentView" />
</template>

<style>

</style>